<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account Overlay</title>
    <link rel="stylesheet" href="../styles/delete-account.css">
    <link rel="stylesheet" href="../styles/main-style.css">
</head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
<script>
     $(document).ready(function(){
        const urlParams = new URLSearchParams(window.location.search);
        const userID = parseInt(urlParams.get('userID'));

        $('#delete').click(function(){
            $.ajax({
                url: `/home/deleteUser?userID=${userID}`,
                    type: 'POST',
                    success: function(response) {
                        alert('Account deleted successfully.');
                        window.location.href = '/overlay/delete-acc-confirmation'; // Redirect after successful deletion
                    },
                    error: function(xhr, status, error) {
                        console.error('Error deleting account:', error);
                        alert('Failed to delete the account. Please try again.');
                    }
                });
        })

        $('#cancel').click(function(){
            window.location.href = `/home/editProfile?userID=${userID}`
        })
     })
</script>
<body>
    <div class="ol-delete-account-changes">
        <img class="page-background" src="../images/lab.jpg" alt="Lab Background">
        <div class="page-overlay">
            <div class="container">
                <b class="h1">Delete account?</b>
                <div class="h2">Are you sure you want to permanently delete your account? This action cannot be undone.</div>
                <div class="buttons-container">
                    <div class="delete-button" id="deleteButtonContainer">
                        <button type="submit" class="delete" id="delete">DELETE</button>
                    </div>
                    <div class="cancel-button" id="cancelButtonContainer">
                        <button type="submit" class="cancel-button" id="cancel">CANCEL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
