.container1 {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 130vh;
    height: 80vh;
    background-color: rgba(248, 247, 242, 0.18);
    backdrop-filter: blur(4px);
    border-radius: 27px;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding: 10px 10px 10px 10px;
}

.container2 {
    position: relative;
    width: 100%;
    height: 95%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    background-color: #f8f7f2;
    border: 1px solid rgba(0, 0, 0, 0);
}

.profilepicture-icon {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid #890c66;
}

.change-button{
    border-radius:5px;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 15px;
    color: #000;
    font-family: 'Inter', sans-serif; 
}


.delete-button{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 15px;
    color: #b00101;
    font-family: 'Inter', sans-serif; 
}

.container-header{
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.container-header h1{
    all: unset;
    font-size: 25px;

}  

.container-body{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
}

.profile-box{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.profile-box a{
    all: unset;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.container-body .delete{
    color: #b00101;
}

.profile-details{
    width: 80%;
    height: 100%;
    position: relative;
    text-align: left;
}

.profile-field{
    margin-top: 10px;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}

#formField{
    width: 90%;
    text-align: right;
    color: #2fa019;
    margin: 50px 20px 20px 0;
    display: none;
}

.profile-field-buttons{
    margin-top: 10px;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-field-buttons button{
    width: 150px;
    margin-top: 15px;
}

button#change {
    background-color: pink;
}

button#delete{
    background-color: #a01919;
    color: white;
}

button#save{
    background-color: #2fa019;
    color: white;
    display: none;
}

.profile-field-buttons .profile-field{
    width: 100%;
    display: none;
}

.profile-field span{
    width: 35%;
}

.profile-field input{
    width: 65%;
}

input[type="text"]{
    font-size: 14px;
    color: #000;
    box-sizing: border-box;
    text-align: left;
    width: 90%;
    padding: 10px;
    vertical-align: top;
}

#displayName{
    height: 30px;
}

#descriptionContent{
    height: 100px;
}

.description{
    display: flex;
    flex-direction: column;
}

.description h1{
    all:  unset;
    font-size: 16px;
}

.description p{
    margin: 10px;
    all: unset;
    font-family: 'Poppins', sans-serif;
    height: 90px;
    width: 90%;
    border: 1px solid rgb(119, 110, 110);
}

.description a{
    all: unset;
    cursor: pointer;
    margin-top: 5px;
}

.profile-buttons{
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    flex-direction: row;
}