body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(128, 0, 128, 0.6);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background-color: white;
    padding: 20px 90px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:35%;
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-box form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-box label {
    text-align:left;
    margin-bottom: 5px;
    margin-top: 10px;
}

.form-box input {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: auto;
}

.form-box button {
    background-color: #890C66;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.form-box button:hover {
    background-color: #4B0082;
}

.new-pass-header {
    color:black;
    margin: 0;
    font-size: 20px;
    font-style: normal;
}

.forgot-pw-description {
    position: absolute;
    top: 115px;
    left: 15px;
    color: #747474;
    text-align: center;
    display: inline-block;
    width: 447px;
    font-size: 20px;
}

@media (max-width: 1440px) {
    .form-box{
        padding: 20px 40px;
    }
}

@media (max-width: 1336px) {
    .form-box{
        padding: 20px 30px;
    }
    .forgot-pw-description{
        font-size: 14px;
    }
}

@media (max-width: 1280px) {
    .form-box {
        padding: 15px 20px;
    }
    .forgot-pw-description padding {
        font-size: 13px;
    }
}

@media (max-width: 1024px) {
    .form-box{
        padding: 15px 20px;
    }
    .forgot-pw-description{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .form-box {
        padding: 10px 15px;
    }
    .forgot-pw-description {
        font-size: 12px;
    }
}
