*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif; 
}
h1{
    margin: 0;
    color: #890C66;
    font-size: 70px;
    font-style: italic;
}
h2{
    margin: 0;
    color: #fffbe2;
    font-size: 20px;
    font-style: italic;
    backdrop-filter: blur(5px);
}
.page{
    position: relative;
    width: 100%;
    height: 100%
}
.page-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}
.page-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, rgba(179, 37, 108, 0.5), rgba(255, 182, 193, 0.5));
    z-index: 2;
}

.header{
    padding: 20px 40px;
    height: 10%;
}
.header-menu{
    float: left;
    font-size: 20px;
    color: #890C66;
    margin-right: 10px;
    font-weight: bold;
 }
.header-menu:hover{
    cursor: pointer;
}
.header-title{
    float: left;
    font-style: italic;
    color: white;
}
.header-profile{
    border: 1px solid #5f5a5d;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    float: right;
    display: flex;
}
.header-name{
    float: right;
    margin-left: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.header-name a{
    text-decoration: none;
    color: #890C66;
}
.header-name a:hover{
    cursor: pointer;
}
.header-profile img{
    object-fit: fill;
}
.header-buttons{
    float: right;
    margin-left: 20px;
}
.header-down{
    float: right;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
.header-down:hover{
    cursor: pointer;
}
.logout-dropdown{
    display: none;
}
.show-logout-dropdown{
    display: flex;
}
.logout-dropdown-content{
    margin-right: 40px;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 7%;
    right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.logout-dropdown-content a{
    all: unset;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #444042;
}
.logout-dropdown-content a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.menu{
    display: none;
}
.show-menu{
    display: flex;
}
.menu-content{
    background-color: pink;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 20px;
    position: absolute;
    top: 0;
    z-index: 50;
}
.menu h1{
    font-size: 30px;
    font-style: normal;
    margin-bottom: 20px;
}
.menu-option{
    background-color: white;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.menu-option a{
    all: unset;
    color: #444042;
}
.menu-option a:hover{
    text-decoration: underline;
    cursor: pointer;
}
button{
    width: 100px;
    height: 30px;   
    font-weight: bold;
    border: unset;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
    cursor: pointer;
}

.sign-in {
    background-color: transparent;
    color: white;
    box-shadow: none; /* Remove the box shadow */
}

.register{
    background-color: #890C66;
    color: white;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.content-box{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    place-items: center;
    height: 100%;
    width: 90%;
    position: relative;
}
.start{
    color: #890C66;
    width: 150px;
    height: 30px;
}
.main-box{
    width: 150vh;
    height: 80vh;
    text-align: left;
    border-radius: 20px;
    background-color: rgba(229, 219, 228, 0.36);
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: 4;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.main-box-text{
    width: 80%;
    padding: 30px 20px;
    
}
.main-box-text p{
    color: #fffbe2;
    width: 80%;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    font-family: 'Poppins', sans-serif; 
    backdrop-filter: blur(5px);
}
.main-box-img-container{
    width: 40%;
    padding: 10px 10px;
}
.top-image, .bot-image{
    width: 350px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.top-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.bot-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.main-box-images .top-image {
    position: relative;
    top: 5px;
    left: 50px;
    z-index: 12;
}
.main-box-images .bot-image {
    position: relative;
    bottom: 70px;
    right: 0;
    z-index: 11;
}
.sub-box{
    position: absolute;
    bottom:25px;
    align-items: center;
    background-color: white;
    border: 1px solid #5f5a5d;;
    width: 120vh;
    height: 20vh;
    border-radius: 10px;
    z-index: 5;
    padding: 15px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
}
.sub-box-content{
    display: flex;
    flex-direction: row;   
    justify-content: center;
    color:#5f5a5d;
    font-family: 'Poppins' sans-serif;
    font-weight: normal;
}
.sub-box button{
    width: 200px;
    background-color: #890C66;
    color: white;
    font-size: 16px;
}
.field{
    width: 250px;
    background-color: #E1E1E1;
    padding: 5px 5px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    margin-bottom: 10px;
}
.sub-box select{
    width: 100%;
    height: 100%;
    border: 1px solid #5f5a5d;
    border-radius: 3px;
    color: #5f5a5d;
}
.sub-field{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sub-field p{
    text-align: left;
}
/*Responsive*/
/*FULL HD - Large Desktop*/
@media (min-width:1440px) and (max-width:1920px) {
    .content-box{
        height: 90%;
        width: 75%;
    }
    .header{
        font-size: 20px;
    }
    .header-profile{
        width: 30px;
        height: 30px;
    }
    .header-menu{
        font-size: 25px;
    }
    .header-down{
        font-size: 25px;
    }
    .logout-dropdown-content{
        top: 5%;
        height: 40px;
        width: 120px;
    }
    .logout-dropdown-content a{
        font-size: 16px;
    }
    .menu-content{
        width: 250px;
        height: 100%;
    }
    .menu-content h1{
        font-size: 25px;
    }
    .menu-option{
        height: 75px;
        width: 100%;
        margin-bottom: 20px;
    }
    .menu-option a{
        font-size: 20px;
    }
}
/*HD - Standard Desktop*/
@media (max-width:1200px) {
    .header{
        font-size: 20px;
    }
    .header-profile{
        width: 25px;
        height: 25px;
    }
    .header-menu{
        font-size: 20px;
    }
}
/*Split Screen*/
@media (max-width: 980px){
    .content-box{
        height: 90%;
        width: 75%;
    }
    .header{
        font-size: 15px;
    }
    .header-profile{
        width: 20px;
        height: 20px;
    }
    .header-menu{
        font-size: 15px;
    }
    .header-down{
        font-size: 15px;
    }
    .logout-dropdown-content{
        top: 5%;
        height: 30px;
        width: 60px;
    }
    .logout-dropdown-content a{
        font-size: 14px;
    }
    .menu-content{
        width: 150px;
        height: 100%;
    }
    .menu-content h1{
        font-size: 15px;
    }
    .menu-option{
        height: 45px;
        width: 100%;
        margin-bottom: 10px;
    }
    .menu-option a{
        font-size: 15px;
    }   
}

@media (max-width: 500px){
    .header{
        font-size: 14px;
    }
    .header-title{
        display: none;
    }
    .header-profile{
        width: 20px;
        height: 20px;
    }
    .header-menu{
        font-size: 15px;
    }
    .header-down{
        font-size: 15px;
    }
    .logout-dropdown-content{
        height: 30px;
        width: 60px;
    }
    .logout-dropdown-content a{
        font-size: 14px;
    } 
}
