.login-content-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-buttons {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.login-buttons button {
  color: #5f5a5d;
  border-radius: 25px;
  width: 150px;
  border: 1px solid #5f5a5d;
}
.login-buttons .active {
  background-color: #890c66;
  color: white;
  position: relative;
  z-index: 21;
}
.login-buttons .student {
  left: 10%;
}
.login-buttons .labtech {
  right: 10%;
}
.login-buttons .passive {
  z-index: 20;
  position: relative;
}
.login-box {
  width: auto;
  height: auto;
  background-color: #f8f7f2;
  border: 1px solid #5f5a5d;
  border-radius: 15px;
  padding: 30px 30px;
}
.login-box-top {
  border-bottom: 1px solid #5f5a5d;
  padding: 2px 2px 2px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-box-top h1 {
  all: unset;
  font-size: 25px;
  color: #5f5a5d;
}
.login-box-top p {
  text-align: left;
  width: 300px;
  color: #5f5a5d;
}
.login-box-top button {
  width: 200px;
  margin-bottom: 20px;
  background-color: #890c66;
  color: white;
}
.forgot-password {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.forgot-password a {
  text-decoration: none;
  text-align: right;
  color: #747474;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.forgot-password a:hover {
  text-decoration: underline;
}
input,
select {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #5f5a5d;
}
.login-box-bot {
  padding: 10px 2px 2px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-box-bot p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #5f5a5d;
}
.login-box-bot button {
  background-color: #890c66;
  color: white;
}

/* marker*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(128, 0, 128, 0.6);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  background-color: white;
  padding: 20px 90px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 35%;
}

.form-box h2 {
  margin-bottom: 20px;
}

.form-box form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form-box label {
  text-align: left;
  margin-bottom: 5px;
  margin-top: 10px;
}

.form-box input {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: auto;
}

.form-box button {
  background-color: #890c66;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.form-box button:hover {
  background-color: #4b0082;
}

.signup-header {
  color: black;
  margin: 0;
  font-size: 20px;
  font-style: normal;
}
