.h3 {
    width: 67px;
    position: relative;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Red Hat Text';
    color: #1e1e1e;
    text-align: center;
    display: inline-block;
    height: 13px;
    backdrop-filter: blur(5px);
}

.search-container {
    width: 1200px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    background-color: #f8f7f2;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 670px;
}

.header-container {
    width: 1200px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    background-color: #890c66;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 110px;
    text-align: center;
}

.header-text {
    width: 1000px;
    position: relative;
    font-size: 50px;
    display: inline-block;
    font-family: Inter;
    color: #fffbe2;
    backdrop-filter: blur(5px);
    top: 25px;
}

.details {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    position: relative;
    top: 20px;
}

.result-container {
    width: 293px;
    position: absolute;
    border-radius: 15px;
    background-color: #fffbe2;
    border: 2px solid #890c66;
    box-sizing: border-box;
    height: 243px;
}

.result-picture {
    width: 270px;
    position: relative;
    border-radius: 15px;
    max-width: 100%;
    overflow: hidden;
    height: 179px;
    object-fit: cover;
    top: 12px;
}

.result-picture-gradient {
    width: 270px;
    position: absolute;
    border-radius: 15px;
    background-color: rgba(99, 68, 92, 0.45);
    height: 179px;
    top: 12px;
    object-fit: cover;
    max-width: 100%;
    left: 10px;
}

.location-h1 {
    width: 150px;
    position: absolute;
    font-size: 22px;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
    backdrop-filter: blur(2px);
    font-weight: bold;
    top: 58px;
}

.location-h2 {
    width: 150px;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
    display: inline-block;
    backdrop-filter: blur(2px);
    top: 85px;
}

.reserve {
    position: absolute;
}

.reserve-button {
    width: 152px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #890c66;
    height: 29px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 15px;
    color: #fffbe2;
    font-family: 'Inter', sans-serif;
    top: 121px;
    left: 56px;
}

.result-details {
    width: 67px;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #1e1e1e;
    text-align: center;
    display: inline-block;
    height: 100px;
}
