*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container{
    height: 98%;
    width: 90%;
    position: relative;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
}
.container-body {
    background-color: rgb(252, 248, 248);
    padding: 50px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 30;
}
.container-header{
    background-color: #890C66;
    border-radius: 10px;
    width: 100%;
    height: 12%;
    border: 1px solid rgb(73, 71, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    position: absolute;
    z-index: 31;
    top: 0;
}
.container-header h1 {
    all: unset;
    color: white;
    font-size: 34px;
}
.legend {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 10%;
}
.legend div {
    margin: 0 10px;
}
.legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.available {
    background-color: #e0e0e0;
}

.booked {
    background-color: #ff9800;
}

.selected {
    background-color: #9c27b0;
}
.details{
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 5px;
    align-items: center;
    justify-content: center;
    height: 15%;
    margin-top: 20px;
}
.field{
    height: 100%;
    margin: 0;
    margin-left: 2%;
    margin-right: 2%;
}
.sub-field p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #1E1E1E;
}
.grid {
    height: 70%;
}
.all-seats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.seat-row{
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}
.seat {
    width: 75px;
    height: 65px;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border: 1px solid #890C66;
    margin: 5px 10px 5px 10px;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}
.seat-no{
    font-family: 'Inter', sans-serif;
    color: #890C66;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.seat-name, .seat-status{
    font-family: 'Poppins', sans-serif;
    color: #890C66;
    font-size: 10px;
    font-weight: bold;
}
.seat input[type="checkbox"] {
    display: none;
}
.seat.booked {
    background-color: #ff9800;
    cursor: not-allowed;
}
.seat.selected {
    background-color: #9c27b0;
    color: white;
}
.seat a {
    color: inherit;
    text-decoration: none;
}
.seat a:hover{
    text-decoration: underline;
}
.reserve-button {
    padding: 10px 20px;
    border: none;
    background-color: #9c27b0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 15%;
    height: 8%;
    font-size: 15px;
    padding: 0;
}
.reserve-button:hover {
    background-color: #7b1fa2;
}
.classrooms{
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(2, 47%);
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
}
.aquarium{
    width: 225px;
    height: 175px;
    border: 1px solid #890C66;
    border-radius: 20px;
    background-color: #FFFBE2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.aquarium-bg{
    width: 90%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.aquarium-bg img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.aquarium-bg-overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.aquarium-bg-overlay h1, .aquarium-bg-overlay p{
    all: unset;
    font-family: 'Poppins', sans-serif;
}
.aquarium-bg-overlay h1{
    font-size: 14px;
    font-weight: bold;
}
.aquarium-bg-overlay p{
    font-size: 10px;
}
.aquarium-bg-overlay button{
    color: white;
    background-color: #890C66;
    width: 50%;
    height: 25%;
}
.aquarium-details{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
.aquarium-field{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.aquarium-field h1, .aquarium-field p{
    all: unset;
    font-family: 'Poppins', sans-serif;
}
.aquarium-field h1{
    font-size: 10px;
    font-weight: bold;
}
.aquarium-field p{
    font-size: 8px;
}
.aquarium-field .available{
    color: lightgreen;
}
.aquarium-field .occupied{
    color: red;
}


/*Responsive*/
/*FULL HD - Large Desktop*/
@media (min-width:1440px) and (max-width:1920px){
    .container-header h1 {
        font-size: 50px;
    }      
    .details{
        margin-top: 70px;
        height: 10%;
    }
    .field{
        margin-left: 5%;
        margin-right: 5%;
    }
    .aquarium-field h1{
        font-size: 18px;
    }
    .aquarium-field p{
        font-size: 16px;
    }
    .aquarium-bg-overlay h1{
        font-size: 24px
    }
    .aquarium-bg-overlay p{
        font-size: 20px;
    }
    .aquarium-bg-overlay button{
        font-size: 20px;
    }
    .legend div{
        font-size: 25px;
    }
    .seat-no{
        font-size: 40px;
    }
    .seat-status, .seat-name{
        font-size: 20px;
    }
    .reserve-button{
        font-size: 20px;
    }
}

/*Split Screen*/
@media (max-width: 1200px){
    .classrooms{
        overflow: scroll;
        grid-template-columns: 1fr 1fr 1fr 1fr;    
        grid-template-rows: 1fr 1fr;
        place-content: initial;
    }
    .classrooms::-webkit-scrollbar{
        display: none;
    }
    .aquarium{
        height: 160px;
    }
    .seat-row{
        overflow: scroll;
        align-items: initial;
        justify-items: initial;
        justify-content: initial;
        align-content: initial;
    }
    .seat-row::-webkit-scrollbar{
        display: none;
    }
}

@media (max-width: 500px){
    .sub-field p{
        font-size: 10px;
    }   
    .container-header h1{
        font-size: 25px;
    }
}
