.ol-accountsaved-changes {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    background-color: #f8f7f2;
    border: 0.5px solid #000;
    width: 420.4px;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%; /* Adjust this value as needed */
    max-height: 90%; /* Adjust this value as needed */
    overflow: auto; /* Add scrollbars if content exceeds container size */
}


.h1, .h2 {
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.h1 {
    font-size: 35px;
    margin-bottom: 20px; /* Add margin below h1 */
}

.h2 {
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.get-started-button {
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0.5px solid #000;
    box-sizing: border-box;
    width: 180px;
    height: 33px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;
    margin: 0 10px; /* Add margin between buttons */
    font-family: 'Inter', sans-serif;
    background-color: #890c66;
    color: #fffbe2;
    font-size: 16px; /* Ensure the font size is consistent */
    font-weight: 700; /* Ensure the font weight is consistent */
    text-decoration: none; /* Ensure no text decoration */
    border: none; /* Remove border for button */
}


@media screen and (max-width: 1920px) {
    .container {
        width: 30vw; /* Adjust as needed */
        height: 50vh;
        max-width: 800px; /* Adjust as needed */
        max-height: calc(800px * 425 / 420.4); /* Maintain aspect ratio */
    }
}

@media screen and (max-width: 1366px) {
    .container {
        width: 40vw; /* Adjust as needed */
        height: 55vh;
        max-width: 800px; /* Adjust as needed */
        max-height: calc(800px * 425 / 420.4); /* Maintain aspect ratio */
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width: 35vw; /* Adjust as needed */
        height: auto;
        max-width: 800px; /* Adjust as needed */
        max-height: calc(800px * 425 / 420.4); /* Maintain aspect ratio */
    }
}

@media screen and (max-width: 1280px) {
    .container {
        width: 50vw; /* Adjust as needed */
        height: auto;
        max-width: 800px; /* Adjust as needed */
        max-height: calc(800px * 425 / 420.4); /* Maintain aspect ratio */
    }
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
    .container {
        width: 60vw; /* Adjust as needed */
        height: auto;
        max-width: 800px; /* Adjust as needed */
        max-height: calc(800px * 425 / 420.4); /* Maintain aspect ratio */
    }
}

@media screen and (max-width: 1280px) and (max-height: 1024px) {
    .container {
        width: 60vw; /* Adjust as needed */
        height: auto;
        max-width: 800px; /* Adjust as needed */
        max-height: calc(800px * 425 / 420.4); /* Maintain aspect ratio */
    }
}