<html>
<head>
    <title>Hello, Lab, Again!</title>
    <!--CSS-->
    <link rel="stylesheet" href="../styles/main-style.css">
    <!--Font Styles-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Red Hat Text' rel='stylesheet'>
    <!--RemixIcon-->
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
</head>
<body>
    <div class="page">
        <img class="page-background" src="../images/lab.jpg" alt="Lab Background">
        <div class="page-overlay">
            <div class="page-container">
                <div class="header">
                    <span class="header-title">Laboratory Reservation System</span>
                    <span class="header-buttons"><form action="/main/sign-up">
                        <button class="register">REGISTER</button>
                    </form></span>
                    <span class="header-buttons"><form action="/main/login-student">
                        <button class="sign-in">SIGN IN</button>
                    </form></span>
                </div>
                <div class="content">
                    <div class="content-box">
                        <form action="/main/home-main">
                            <h2>Gusto mo katabi si crush? Reserve your seat now!</h2>
                            <h1>hello, LAB, Again!</h1>
                            <button class="start">Get Started</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body></html>
