.ol-accountsaved-changes {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
}

.container {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    background-color: #f8f7f2;
    border: 0.5px solid #000;
    width: 420.4px;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1, .h2 {
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.h1 {
    font-size: 35px;
    margin-bottom: 20px; /* Add margin below h1 */
}

.h2 {
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.get-started-button {
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0.5px solid #000;
    box-sizing: border-box;
    width: 180px;
    height: 33px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;
    margin: 0 10px; /* Add margin between buttons */
    font-family: 'Inter', sans-serif;
    background-color: #890c66;
    color: #fffbe2;
    font-size: 16px; /* Ensure the font size is consistent */
    font-weight: 700; /* Ensure the font weight is consistent */
    text-decoration: none; /* Ensure no text decoration */
    border: none; /* Remove border for button */
}