<html>
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!--CSS-->
    <link rel="stylesheet" href="../styles/main-style.css">
    <link rel="stylesheet" href="../styles/forgot-pw.css">
    <!--Font Styles-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Red Hat Text' rel='stylesheet'>
    <!--RemixIcon-->
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <!--Script-->
    <script src="/model/tab.js"></script>
</header>
<body>
    <div class="page">
        <img class="page-background" src="../images/lab.jpg" alt="Lab Background">
        <div class="page-overlay">
            <div class="page-container">
                <div class="content">
                    <div class="content-box">
                        <div class ="container-parent">
                            <div class = "container">
                                <div class ="forgot-password">Forgot Password</div>
                                <div class ="forgot-pw-description">Please enter your email address to reset your password</div>
                                <div class ="email-address-holder">
                                    <input type = "text" class = "email-address" placeholder="Email Address">
                                </div>
                                <form action = "/main/verify-otp">
                                    <button type = "submit" class = "submit-button">SUBMIT</button>
                                </form>
                                <form action = "/main/login-student">
                                    <button type = "submit" class = "back-to-login-button">Back to Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body></html>
