<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Changes Overlay</title>
    <link rel="stylesheet" href="../styles/unsavedchanges.css">
    <link rel="stylesheet" href="../styles/main-style.css">
</head>
<body>
    <div class="ol-unsaved-changes">
        <img class="page-background" src="../images/lab.jpg" alt="Lab Background">
        <div class="page-overlay">
            <div class="container">
                <b class="h1">Save changes?</b>
                <div class="h2">Changes that you have made may not be saved.</div>
                <div class="buttons-container">
                    <div class="leave-button" id="leaveButtonContainer">
                        <form action="/home/myProfile">
                            <button type="submit" class="leave-button">LEAVE</button>
                        </form>
                    </div>
                    <div class="cancel-button" id="cancelButtonContainer">
                        <form action = "/home/editProfile">
                            <button type ="submit" class ="cancel-button">CANCEL</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
